# Air Quality Notebook

### Imports and Cleaning

Below is a list of all the standard imports used throughout this notebook, as well as reading in the data from csv

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math
import calendar
%matplotlib inline
import warnings

warnings.filterwarnings('ignore')

In [2]:
aq = pd.read_csv("airQuality.csv")

For the cleaning portion, we started by making separate columns for each of the Year, Month, and Day associated with each row, allowing for more visualization options and customizability later on. The table was then sorted based on date, with the index being reset. The values within the rows also needed to be converted from string to float in order to perform transformations to them.

In [3]:
aq[["Year", "Month", "Day"]] = aq["date"].str.split("/", expand = True)

In [4]:
aq = aq.sort_values(["Year", "Month", "Day"])

In [5]:
aq = aq.reset_index()

In [6]:
for i in range(len(aq[" pm25"])):
    aq[" pm25"][i] = aq[" pm25"][i].strip()
    if aq[" pm25"][i] == "":
        aq[" pm25"][i] = None
aq[" pm25"] = aq[" pm25"].astype(float)

for i in range(len(aq[" o3"])):
    aq[" o3"][i] = aq[" o3"][i].strip()
    if aq[" o3"][i] == "":
        aq[" o3"][i] = None
aq[" o3"] = aq[" o3"].astype(float)  

for i in range(len(aq[" pm10"])):
    aq[" pm10"][i] = aq[" pm10"][i].strip()
    if aq[" pm10"][i] == "":
        aq[" pm10"][i] = None
aq[" pm10"] = aq[" pm10"].astype(float) 

for i in range(len(aq[" co"])):
    aq[" co"][i] = aq[" co"][i].strip()
    if aq[" co"][i] == "":
        aq[" co"][i] = None
aq[" co"] = aq[" co"].astype(float)

In [7]:
aq = aq.drop("index", axis = 1)

In [20]:
aqi_list = []
type_list = []
for i in range(len(aq)):
    type_ = ""
    aqi = max(aq[" pm25"][i], aq[" o3"][i], aq[" pm10"][i], aq[" co"][i])
    if aqi == aq[" pm25"][i]:
        type_ += "pm25"
    elif aqi == aq[" o3"][i]:
        type_ += "o3"
    elif aqi == aq[" pm10"][i]:
        type_ += "pm10"
    elif aqi == aq[" co"][i]:
        type_ += "co"
    aqi_list.append(aqi)
    type_list.append(type_)
aq["AQI"] = aqi_list
aq["Type"] = type_list

In [21]:
aq

,date,pm25,pm10,o3,no2,so2,co,Year,Month,Day,AQI,Type
0,2014/10/1,13.0,NaN,20.0,,,NaN,2014,10,1,20.0,o3
1,2014/10/10,27.0,NaN,20.0,,1,2.0,2014,10,10,27.0,pm25
2,2014/10/11,31.0,NaN,27.0,,1,1.0,2014,10,11,31.0,pm25
3,2014/10/12,32.0,NaN,32.0,,1,2.0,2014,10,12,32.0,pm25
4,2014/10/13,33.0,NaN,22.0,,1,1.0,2014,10,13,33.0,pm25
...,...,...,...,...,...,...,...,...,...,...,...,...
3417,2024/2/5,56.0,41.0,27.0,12,,5.0,2024,2,5,56.0,pm25
3418,2024/2/6,63.0,22.0,19.0,8,,2.0,2024,2,6,63.0,pm25
3419,2024/2/7,53.0,35.0,18.0,14,,4.0,2024,2,7,53.0,pm25
3420,2024/2/8,71.0,34.0,36.0,8,,2.0,2024,2,8,71.0,pm25
3421,2024/2/9,56.0,12.0,24.0,2,,2.0,2024,2,9,56.0,pm25

In [22]:
aq.to_csv("gr_air_quality_2.csv")